@charset "utf-8";
/* CSS Document */
body{font-family: "OpenSansRegular"; color:#333;}
.mandatory{
	color:#ff0000;
}
.container {
	margin: 0 auto;
}
.form-horizontal {
	margin: 0 0 20px;
}
.form-container {
	width: 650px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 2px 1px #7b7b7b;
	margin: 0 auto 10px;
	padding: 20px 0;
}
.header-panel {
	background: #58595b;
	height: 32px;
}
.header-row {
	background:#efefef;
	height: 80px;
	margin: 0 auto;
	padding: 8px 10px 0;
	width:100%;
}
.header-row .heading {
	color: #5a5a5a;
	font-size: 25px;
	font-family: "OpenSansBold";
	display: inline-block;
	position: relative;
    top: 8px;
    left: 17px;
    text-shadow: 2px 2px #fff;
}
.header-row .heading:before {
	content: ' ';
    border-left: solid 1px #7b7c7d;
    height: 62px;
    position: absolute;
    top: -10px;
    left: -11px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #000;
}
.navbar-default .navbar-nav > li:hover{background:#efefef;}
.navbar-default .navbar-nav .active:hover:after{border-top: 10px solid #efefef;}
#header-account {
	margin-top: 5px;
	text-align: right;
}
textarea {resize:none;}
input[type="text"] {
    border: solid 1px #c5c5c5;
    border-radius: 3px;
}
button.btn.btn-primary {
    border: #cf524b solid 1px;
    font-weight: bold;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d4382a, #c4372b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d4382a, #c4372b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d4382a, #c4372b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d4382a, #c4372b); /* Standard syntax (must be last) */
}
ul.links, ul.links li {
	color: #FFFFFF;
    display: inline;
    font-size: 11px;
    font-weight:bold;
}
ul.links li {
	border-right:solid white 1px;
	padding: 0 4px;
}
ul.links li:last-child {
	border-right: none;
}

span.calendaricon{
    position: absolute;
    right: 20px;
    top: 5px;
    display: inline-block;
    height: 24px;
    width: 24px;
}
span.calendaricon i {
    color: #e02930;
}
.form-control {
    color: #333;
}
.navbar-default .navbar-nav .active {
	background-color: #b8251a;
}
.navbar-default .navbar-nav .active::after {
	content: '';
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #b8251a;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: -10px;
}
.caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.header-panel .links {
    float: none;
    margin: 0 0 10px;
    padding: 0;
}
.header-panel .links li a {
    color: #FFFFFF;
    font-weight: bold;
}
.filter-container {
    /*width: 88%;
    margin: 0 auto;*/
    margin-bottom:20px;
}
.filter-container .search input {
    width: 100%;
}
.filter-container .search {
    position: relative;
}
.filter-container .search .search-icon {
    position: absolute;
    right: 18px;
    top: 6px;
    color: #333;
}
/*.filter-container .col-xs-12.col-sm-12.col-md-4.col-lg-4{width:25%}
.filter-container .col-xs-12.col-sm-12.col-md-4.col-lg-4.search{width:50%}*/
.page-title legend{border-width:0;margin-bottom:0;}
.dropdown button.btn, .filter-container input {
    border: solid 1px #c5c5c5;
    background-color: #fff;
    position: relative;
    font-size: 14px;/*
    font-weight: bold;*/
    padding: 6px 25px 6px 16px;
    border-radius: 3px;
    width: 100%;
    margin: 0;
}
.dropdown.open button.btn {
    background-color: #e6e6e6;
}
.table-caption .dropdown.open button.btn {
    background-color: transparent;
}
.table-caption h1, .table-caption h4 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    margin: 0;
}
.table-caption h1 button.btn,
.table-caption h4 button.btn {
    border: 0;
    padding: 0;
    font-size: 21px;
    font-weight: normal;
    border-radius: 0;
    background-color: transparent;
    top: -2px;
    color: #333;
    border-bottom: dotted 1px #64a7e8;
}
.table-caption h1 , .table-caption h1 button.btn{font-size:25px}
@media (min-width: 768px) and (max-width: 1024px) {
    .table-caption h1 , .table-caption h1 button.btn {
        font-size:16px
    }
}

.table-caption h4 {
    font-size: 18px;
    margin-top: 5px;
}
.availability td {
    background-color: #dfffdf;
}
.no-checkbox {
    text-align: left;
}
.btn{padding: 9px 12px;}
.page-title .btn.btn-primary{position:relative;padding-left:29px;}
.page-title .btn.btn-primary .material-icons {left:4px;position:absolute;top:7px;font-weight:bold;}
.modal-body .nav > li > a{padding: 5px 20px;}
.modal-body .tab-content{padding-top:14px;}
button.btn:hover {
    /*background: #c6392d;
    background: -webkit-linear-gradient(#c6392d, #e53c2d);
    background: -o-linear-gradient(#c6392d, #e53c2d);
    background: -moz-linear-gradient(#c6392d, #e53c2d);
    background: linear-gradient(#c6392d, #e53c2d);*/
}
button.btn-primary:active, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-primary:focus {
    /*color: #fff;
    background: #58595b;
    background: -webkit-linear-gradient(#58595b, #7f7f7f);
    background: -o-linear-gradient(#58595b, #7f7f7f);
    background: -moz-linear-gradient(#58595b, #7f7f7f);
    background: linear-gradient(#58595b, #7f7f7f);
    border-color: #58595b;*/
}
.dropdown-toggle + .dropdown-menu, .skill-container .skillSet-menu{
    border: 1px solid #c5c5c5;
    border-top:solid 2px #d4382a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: -2px 0 0;
    min-width: 100%;
}
.skill-container .skillSet-menu {
    min-width: 90%;
    margin-left: 15px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 0;
    position: absolute;
    background-color: #fff;
    padding: 0;
    list-style-type: none;
}
.skill-container .skillSet-menu>li>label {
    display: inline-block;
    padding: 3px 10px;
}
.skill-container .skillSet-menu>li>input[type='checkbox'] {
    margin-left: 10px;
}
.dropdown-toggle {
    color: #333;
    text-align: left;/*
    font-weight: bold;*/
}

.dropdown button i {
    position: absolute;
    right: 5px;
    top: 7px;
}
.table-caption {

}
.table-caption button {
    background-color: transparent;
    border: 0;
}
.table-caption button i {
    position: relative;
    right: 0px;
}
.table-caption > h1 > input, .table-caption > h4 > input {
    border: 0;
    border-bottom: dotted 1px #64a7e8;
    width: 120px;
    border-radius: 0;
}
.table-caption > h4 > input {
    width: 95px;
}
.dropdown-menu .selected {
    position: relative;
    cursor: default;
    background-color: #f5f5f5;
}
.dropdown-menu > li {
    position: relative;
}
.dropdown-menu > li.search {
    padding: 0px 9px;
    margin-bottom: 5px;
}
.dropdown-menu > li.search::before {
    display: none;
}
.dropdown-menu > li::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #d4382a;
    top: 10px;
    left: 8px;
}
.dropdown-menu .selected i {
    position: absolute;
    font-size: 15px;
    top: 6px;
    left: 4px;
}
#resourceDetails select{
    margin: 5px 0;
}
footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.modal-body .nav-tabs li {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f7f7f7, #d5d8db); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f7f7f7, #d5d8db); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f7f7f7, #d5d8db); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f7f7f7, #d5d8db); /* Standard syntax (must be last) */
}
.modal-body .nav-tabs li:first-child{
    margin-left: 20px;
}
.modal-body .nav-tabs li {
    margin-right: 15px;
}
.modal-body .nav-tabs li a {
     color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0;
}
.modal-footer button {
    margin-left: 10px;
}
.modal-footer a {
    color: #333;
    font-weight: bold;
}
.copyright-container {
    background: #58595b;
    color: #fff;
    font-size: 11px;
    margin-top: 10px;
    padding: 10px 0 12px 0;
    text-align: center;
}

.navbar .container-fluid {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d4382a, #c4372b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d4382a, #c4372b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d4382a, #c4372b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d4382a, #c4372b); /* Standard syntax (must be last) *//*
    background:url(../images/bkg_nav.png) repeat-x;*/
}
.navbar-toggle {
    padding: 5px 10px;
    margin-bottom: 7px;
    margin-top: 5px;
}
.navbar {
    min-height: 40px;
    border-radius: 0;
    border-width:0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.content {
    margin: 15px;   
}
.spacer-bottom {
    margin-bottom: 60px;
}
.paging-controls {
    margin: 20px 0 0 0;
}
/* pagination starts from here */
.pagination {
    display: block;
    margin: 0px;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 12px;
}
.pagination a {
    position: relative;
    top: 4px;
    color: #333;
}
.pagination a i {
    color: #838c96;
    font-size: 17px;
    font-weight: bold;
}
.pagination input {
     height: 27px;
    text-align: center;
    width: 100%;
}
.pagination .navigate-first i, .pagination .navigate-last i{
    padding-right: 4px;
    text-shadow: 6px 0 #838c96;
}
/* pagination ends here */
.go-to-page {
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 3px 4px;
    width: 40px;
}
button.go-btn {
    padding: 3px 10px;
}
a.next {
    position: relative;
}
a.next:after {
    content: '';
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 5px solid #0075b0;
    border-bottom: 3px solid transparent;
    content: "";
    position: absolute;
    width: 0;
    top: 5px;
    right: -13px;
    z-index: 0;
}
.table-container {
    margin-bottom: 20px;
}
.table-data-container {
    /*border-radius: 5px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 2px 1px #7b7b7b;
    border-right: none;
    overflow-x: scroll;*/
}
input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}
.check-box {
    background-color: green;
    width: 10px;
    height: 10px;
    display: none;
}
input[type='checkbox']:checked + .check-box{
    display: inline-block;
}
.table-data-container table {
    margin: 0;
}
thead th {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 30%, #dedede 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F7F7F7 30%, #dedede 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F7F7F7 30%, #dedede 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#dedede', GradientType=0 ); /* IE6-9 */
}
tr {
    height: 28px;
}

.table>thead>tr>th {
    font-size: 16px;
    line-height: 21px; 
    font-weight:normal;
}
tr:nth-child(even) td {
    background-color: rgb(249, 249, 249);   
}

.app-form, .paging-controls {
    display: none;
}
.has-error {
    border: solid 1px #F00;
}
.error-message {
    color: #F00;
    font-size: 11px;
    margin-top: -8px;
}
    .dropdown-menu {
        display: block;
    }
    .modal-content .dropdown-menu {
        margin-top: -7px;
    }
.skill-container {
    position: relative;
}
.selected-technologies {
    position: absolute;
    left: 20px;
    top: 3px;
}
.selected-technologies label {
    background: #eeeff0;
    border: solid 1px #e3e3e3;
    border-radius: 15px;
    font-size: 12px;
    position: relative;
    padding: 5px 20px 5px 15px;
    margin-right: 5px;
}
.selected-technologies label i {
    position: absolute;
    font-size: 12px;
    top: 8px;
    right: 5px;
    font-weight: bold;
}
.modal-table tr:first-child th:first-child { border-top-left-radius: 10px; }
.modal-table tr:first-child th:last-child { border-top-right-radius: 10px; }
.modal-table tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.modal-table .DTFC_RightBodyWrapper  tr:last-child td:last-child { border-bottom-right-radius: 10px; }
.modal-table tr:first-child td { border-top-style: solid; }
/*.modal-table tr td:first-child { border-left-style: solid; }*/


    .DTFC_LeftHeadWrapper .table>thead:first-child>tr:first-child>th:first-child {
        border-left: 1px solid #c5c5c5;
    }
    .table.dataTable tr:first-child th:first-child { border-top-left-radius: 5px; }
    .table.dataTable tr:first-child th:last-child { border-top-right-radius: 5px; }
    .table.dataTable tr:last-child td:first-child { border-bottom-left-radius: 5px; }
    .table.dataTable tr:last-child td:first-child { border-bottom-right-radius: 5px; }
    .DTFC_RightFootWrapper .table.dataTable tr:last-child td:first-child{ 
      border-bottom-left-radius: 0px; 
    }
    .DTFC_RightBodyWrapper .table.dataTable tr:last-child td:first-child {
        border-bottom-left-radius: 0px; 
        /*border-bottom-right-radius: 0px;*/
    }
    .DTFC_RightHeadWrapper .table.dataTable tr:first-child th:first-child {
        border-top-left-radius: 0px;
    }
    .DTFC_LeftBodyWrapper .table.dataTable tr:last-child td:first-child {
      border-bottom-right-radius: 0px;
    }
    .DTFC_LeftHeadWrapper .table.dataTable tr:first-child th:last-child {
          border-top-right-radius: 0px;
    }
    .DTFC_LeftBodyLiner .table.dataTable tr td:first-child {
      border-style: none solid solid solid;
    }
    .bootstrap-datetimepicker-widget tr:hover {
        background-color: #808080;
    }
.modal-content .dataTables_wrapper .DTFC_LeftWrapper, 
.modal-content .dataTables_wrapper .DTFC_RightWrapper,
.modal-content .dataTables_wrapper .DTFC_RightHeadWrapper,
.modal-content .dataTables_wrapper .DTFC_LeftHeadWrapper  {
    width: auto !important;
    height: auto !important;
}
.modal-content .dataTables_wrapper .DTFC_LeftBodyWrapper, 
.modal-content .dataTables_wrapper .DTFC_LeftBodyLiner, 
.modal-content .dataTables_wrapper .DTFC_RightBodyLiner,
.modal-content .dataTables_wrapper .DTFC_RightBodyWrapper {
    height: auto !important;
    padding-right: 0 !important;
    width: 100% !important;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown .dropdown-menu, .dropdown .skillSet-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu, .dropdown.open .skillSet-menu {
    max-height: 200px;
    opacity: 1;
}
/* calendar css starts from here  */
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    border-radius: 0;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #d1382a;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #d1382a;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    border-radius: 0 0 4px 4px;
    border-top: solid 2px #d1382a;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch.accordion-toggle {
    display: none;
}
/* calendar css ends here */
.form-group .work > div {
    padding: 0;
}
/* modal style starts here */
.modal-content {
    border-radius: 0;
}
.modal-header {
    border-bottom: none;
    background-color: #e02930;
    padding: 4px 13px 3px;
}
.modal-header .close {
    color: #fff;
    /*opacity: .5;*/
    opacity: 1;
    text-shadow: none;
    margin-top: 8px;
}
.modal-header .close:hover {
    opacity: 1;
}
.modal-header .modal-title {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(51, 51, 51, 0.5);
    font-weight: bold;
}
/* modal styel ends here */
/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */ 
 @media only screen and (min-width : 320px) {
.form-container {
    width: 300px;
}
.form-container.app-form {
    padding: 10px;
    width: 100%;    
}
.form-horizontal .form-group {
    margin-top: 10px;
}
}
.no-result {
    color: red;
    font-weight: bold;
    text-align: center;
}
.eResourcetable .table {
    margin: 0;
}
.eResourcetable {
    margin: 20px 0;
    min-width: 400px;
}
.scrollable table, .left-table table, .right-table table {
    width: 100%;
}
.scrollable {
    padding: 0;
}
.scrollable>div {
    overflow-x: auto;
}
.eResourcetable .right-table th, .scrollable>div td, .scrollable>div th, .eResourcetable .right-table td{
    text-align: right;
}
.left-table {
    padding: 0;
    /*margin-right: -1px;*/
}
.left-table tr th:first-child, .left-table tr td:first-child {
    text-align: center;
}
#projectDetails .left-table tr th:first-child, #projectDetails .left-table tr td:first-child, #viewProjectDetails .left-table tr td:first-child, #viewProjectDetails .left-table tr th:first-child{
    text-align: left;
}
.right-table {
    padding: 0;
}
.table-container td, .table-container th{
    padding: 8px;
}
.eResourcetable .table {
  border-collapse: separate;
  border-spacing: 0;
}
.eResourcetable .table tr th,
.eResourcetable .table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 0px;
  padding: 8px 5px;
  white-space: nowrap;
  position: relative;
}
.eResourcetable .table tr th:first-child,
.eResourcetable .table tr td:first-child {
  border-left: 1px solid #bbb;
}
.eResourcetable .table tr th {
  border-top: 1px solid #bbb !important;
}
.eResourcetable .scrollable .table tr th:first-child, .eResourcetable .scrollable .table tr td:first-child {
    border-left: 0px;
}
.eResourcetable .scrollable .table tr th:last-child, .eResourcetable .scrollable .table tr td:last-child {
    border-right: 0px;
}
.eResourcetable .table tr input[type='checkbox'] {
    visibility: hidden;
}
.eResourcetable .table tr input[type='checkbox'] + label, .skill-container .skillSet-menu>li>div>label{
 vertical-align: middle;
 text-align: center;
 line-height: 13px;
 position: absolute;
 cursor: pointer;
 height: 16px;
 width: 16px;
 left: 10px;
 top: 12px;
 font-size: 13px;
 background: #fff;
 color: #fff;
 border: solid 1px #c5c5c5;
}
.skill-container .skillSet-menu {
    padding-bottom: 10px;
}
.skill-container .skillSet-menu>li>div {
    padding-left: 15px;
    padding-top: 10px;
    cursor: default;
}
.skill-container .skillSet-menu>li>div>label{
    position: relative;
    height: 16px;
    width: 16px;
    left: -5px;
    top: 2px;
}
.skill-container .skillSet-menu>li>div>label>i{
    visibility: hidden;
    top: -4px;
    position: relative;
    left: -2px;
    font-size: 20px;
}
.skill-container .skillSet-menu>li>div.checked>label {
    background-color: #388d3c;
     
}
.skill-container .skillSet-menu>li>div.checked>label>i {
    visibility: visible;
}
.eResourcetable .table tr input[type='checkbox']:checked + label {
    background-color: #388d3c;
}
.eResourcetable .table tr input[type='checkbox'] + label i {
    display: none;
    font-size: 14px;
    font-weight: bold;
}
.eResourcetable .table tr input[type='checkbox']:checked + label i {
 display: block;
}
/* top-left border-radius */
.eResourcetable .left-table .table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

/* top-right border-radius */
.eResourcetable .right-table .table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

/* bottom-left border-radius */
.eResourcetable .left-table .table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

/* bottom-right border-radius */
.eResourcetable .right-table .table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/* Extra Small Devices, Phones */ 
.eResourcetable td a {
    color: #333;
    border-bottom: dotted 1px #64a7e8;
}
.eResourcetable td a:hover {
    text-decoration: none;
    cursor: pointer;
}
/* tooltip css */
.tool-tip-section {
    border: 1px solid #bbb;
    border-radius: 4px;
    border-top: 4px solid #cf524b;
    position: absolute;
    width: 150px;
    height: 60px;
    background: #fff;
    padding: 10px;
    right: -112px;
    top: 32px;
    z-index: 1;
  }
  .tool-tip-section:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(207, 82, 75, 0);
    border-bottom-color: #cf524b;
    border-width: 9px;
    margin-left: -63px;
    text-align: left;
  }
  .tool-tip-section ul {
    padding: 0;
    margin: 0;
  }
  .tool-tip-section ul li {
    font-size: 12px;
    list-style: none;
    text-align: left;
    display: flex;
    -ms-display: flexbox;
  }
  .tool-tip-section ul li span{
    flex: 1;
  }
  .tool-tip-section ul li:before {
    color: red;
    content: "■ ";
    color: #cf524b;
    margin-right: 5px;
  }
  .scrollable td > span {
    display: block;
    cursor: pointer;
  }
/* tolltip css ends */
@media only screen and (min-width : 480px) {
.form-container {
    width: 460px;
}
.form-container.app-form {
    padding: 10px;
    width: 100%;    
}
.content {
    margin: 10px;   
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.container-fluid {
    height: 37px;
}
.form-container {
    width: 500px;
}
.form-container.app-form {
    padding: 15px;
    width: 100%;    
}
.form-group .radio {
    display: inline-block;
}
.form-group .btn {
    margin: 5px 0;
}

ul#pronav {
    margin: 0 auto;
    padding: 0;
    width: auto;
    list-style: none;
    position: relative;
    height: 35px;
}
.navbar-default .navbar-nav>li {
    border: 0;
    border-bottom: medium none;
    float: left;
    height: 37px;
    padding: 0;
    margin-left: -3px;
}

.navbar-default .navbar-nav>li:hover a {
    color: #000;
}
.navbar-default .navbar-nav>li:hover .dropdown-menu {
    display: block;
}
.navbar-default .navbar-nav>li .dropdown-menu {
    background: #EFEFEF;
    border: 1px solid #020202;
    border-top: medium none;
    margin-left: -1px;  
}
.navbar-default .navbar-nav>li .dropdown-menu li a {
    padding: 10px 0px 10px 10px;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.navbar-default .navbar-nav>li .dropdown-menu li a:hover {
    color: #D52B1E;
}
.navbar-default .navbar-nav>li>a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    height: 35px;
    line-height: 16px;
    margin-top: 0;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}
.navbar-nav>li>a > span {
    /*background: url(../images/bkg_nav-item-border.gif) no-repeat scroll 100% 0 transparent;*/
    padding: 0 11px;
}
.navbar-nav>li:last-child>a > span {
    background: none;   
}
.navbar-nav>li:hover>a > span {
    background: none;
}
.navbar-default .navbar-nav>.active>a {
    background: none;
    color: #fff;
}
.table-data-container {
    overflow: hidden;
}
.content {
    margin: 15px;   
}
.modal-dialog {
    width: 950px;
}
}
::-webkit-input-placeholder { /* Chrome */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #3333;
  opacity: 1;
}
.table-caption h1 button.btn{border-style: none;}
.table-caption h1 button.btn span.txt{border-bottom: 1px dotted #006dd9;}
.table-caption h1 button.btn .material-icons{font-size:21px;top:7px;}
.pagination .pagination-input-wrapper{display: inline-block;width: 27px;}
.table-caption > h1 > input{width:132px;}
.modal-content .table-caption{border-bottom:1px solid #c5c5c5; padding-bottom: 2px;}
ul.links li.first{padding-right:7px;}
.dropdown-menu > li > a:hover{background-color:#fff;}
.modal-footer{border-top: none; margin-top: 0;}
.modal-header h4{font-size:20px;}
.modal-body .nav-tabs > li > a{border-radius:0;}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.forgot-pwd {
    display: inline-block;
    margin-top: -15px;
}
.container {
    width: 100%;
}
.login-form {
    width: 30%;
}
.search-report, .sales-ticket-form {
    width: 100%;
}

}